Warehouse.ServiceClient/Service References/WarehouseService/Service2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:57498/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Warehouse.Data.Dto" />
  <xs:element name="Ping">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="date" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PingResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddProduct">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Warehouse.Data.Dto" minOccurs="0" name="product" nillable="true" type="q1:Product" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddProductResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddProductResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateProduct">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Warehouse.Data.Dto" minOccurs="0" name="product" nillable="true" type="q2:Product" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateProductResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateProductResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProducts">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Warehouse.Data.Dto" minOccurs="0" name="GetProductsResult" nillable="true" type="q3:ArrayOfProduct" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProduct">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="productId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Warehouse.Data.Dto" minOccurs="0" name="GetProductResult" nillable="true" type="q4:Product" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddWarehouseSocet">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Warehouse.Data.Dto" minOccurs="0" name="socet" nillable="true" type="q5:WarehouseSocet" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddWarehouseSocetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddWarehouseSocetResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateWarehouseSocet">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Warehouse.Data.Dto" minOccurs="0" name="socet" nillable="true" type="q6:WarehouseSocet" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateWarehouseSocetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateWarehouseSocetResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWarehouseSocets">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWarehouseSocetsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Warehouse.Data.Dto" minOccurs="0" name="GetWarehouseSocetsResult" nillable="true" type="q7:ArrayOfWarehouseSocet" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWarehouseSocet">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="socetId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWarehouseSocetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Warehouse.Data.Dto" minOccurs="0" name="GetWarehouseSocetResult" nillable="true" type="q8:WarehouseSocet" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPackage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Warehouse.Data.Dto" minOccurs="0" name="product" nillable="true" type="q9:Package" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPackageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddPackageResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePackage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Warehouse.Data.Dto" minOccurs="0" name="product" nillable="true" type="q10:Package" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePackageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdatePackageResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPackages">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPackagesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Warehouse.Data.Dto" minOccurs="0" name="GetPackagesResult" nillable="true" type="q11:ArrayOfPackage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPackage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="productId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPackageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Warehouse.Data.Dto" minOccurs="0" name="GetPackageResult" nillable="true" type="q12:Package" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>