Warehouse.ServiceClient/Service References/WarehouseService/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MongoDB.Bson" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MongoDB.Bson" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:57498/Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ObjectId">
    <xs:annotation>
      <xs:appinfo>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="_increment" type="xs:int" />
      <xs:element name="_machine" type="xs:int" />
      <xs:element name="_pid" type="xs:short" />
      <xs:element name="_timestamp" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ObjectId" nillable="true" type="tns:ObjectId" />
</xs:schema>