Warehouse.ServiceClient/Service References/WarehouseService/Service4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Warehouse.Data.Result" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Warehouse.Data.Result" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="BoolResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="FullMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Succes" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BoolResult" nillable="true" type="tns:BoolResult" />
</xs:schema>