Warehouse.ServiceClient/Service References/WarehouseService/Service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Warehouse.Data.Dto" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Warehouse.Data.Dto" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:57498/Service.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/MongoDB.Bson" />
  <xs:import schemaLocation="http://localhost:57498/Service.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Warehouse.Data.Enum" />
  <xs:import schemaLocation="http://localhost:57498/Service.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/MongoDB.Driver" />
  <xs:complexType name="Product">
    <xs:sequence>
      <xs:element minOccurs="0" name="Ean" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Height" type="xs:int" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MongoDB.Bson" minOccurs="0" name="Id" type="q1:ObjectId" />
      <xs:element minOccurs="0" name="Length" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Weight" type="xs:double" />
      <xs:element minOccurs="0" name="Width" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Product" nillable="true" type="tns:Product" />
  <xs:complexType name="ArrayOfProduct">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Product" nillable="true" type="tns:Product" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProduct" nillable="true" type="tns:ArrayOfProduct" />
  <xs:complexType name="WarehouseSocet">
    <xs:sequence>
      <xs:element minOccurs="0" name="Height" type="xs:int" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/MongoDB.Bson" minOccurs="0" name="Id" type="q2:ObjectId" />
      <xs:element minOccurs="0" name="Length" type="xs:int" />
      <xs:element minOccurs="0" name="MaxWeight" type="xs:double" />
      <xs:element minOccurs="0" name="RowBookstand" type="xs:int" />
      <xs:element minOccurs="0" name="ShelfBookstand" type="xs:int" />
      <xs:element minOccurs="0" name="SocetNumber" type="xs:int" />
      <xs:element minOccurs="0" name="UseVolume" type="xs:int" />
      <xs:element minOccurs="0" name="UseWeight" type="xs:double" />
      <xs:element minOccurs="0" name="Width" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WarehouseSocet" nillable="true" type="tns:WarehouseSocet" />
  <xs:complexType name="ArrayOfWarehouseSocet">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="WarehouseSocet" nillable="true" type="tns:WarehouseSocet" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfWarehouseSocet" nillable="true" type="tns:ArrayOfWarehouseSocet" />
  <xs:complexType name="Package">
    <xs:sequence>
      <xs:element minOccurs="0" name="Height" type="xs:int" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/MongoDB.Bson" minOccurs="0" name="Id" type="q3:ObjectId" />
      <xs:element minOccurs="0" name="Length" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Width" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Package" nillable="true" type="tns:Package" />
  <xs:complexType name="ArrayOfPackage">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Package" nillable="true" type="tns:Package" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPackage" nillable="true" type="tns:ArrayOfPackage" />
  <xs:complexType name="Order">
    <xs:sequence>
      <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CountryCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreateDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FlatNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HouseNumber" nillable="true" type="xs:string" />
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/MongoDB.Bson" minOccurs="0" name="Id" type="q4:ObjectId" />
      <xs:element minOccurs="0" name="OrderNumber" nillable="true" type="xs:string" />
      <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Warehouse.Data.Enum" minOccurs="0" name="OrderStatus" type="q5:eOrderStatus" />
      <xs:element minOccurs="0" name="Positions" nillable="true" type="tns:ArrayOfOrderPosition" />
      <xs:element minOccurs="0" name="PostalCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RecipientId" type="xs:int" />
      <xs:element minOccurs="0" name="SendDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Street" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Order" nillable="true" type="tns:Order" />
  <xs:complexType name="ArrayOfOrderPosition">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OrderPosition" nillable="true" type="tns:OrderPosition" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOrderPosition" nillable="true" type="tns:ArrayOfOrderPosition" />
  <xs:complexType name="OrderPosition">
    <xs:sequence>
      <xs:element minOccurs="0" name="Count" type="xs:int" />
      <xs:element minOccurs="0" name="Lp" type="xs:int" />
      <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/MongoDB.Driver" minOccurs="0" name="ProductId" nillable="true" type="q6:MongoDBRef" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OrderPosition" nillable="true" type="tns:OrderPosition" />
  <xs:complexType name="Supply">
    <xs:sequence>
      <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CountryCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreateDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FlatNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HouseNumber" nillable="true" type="xs:string" />
      <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/MongoDB.Bson" minOccurs="0" name="Id" type="q7:ObjectId" />
      <xs:element minOccurs="0" name="Positions" nillable="true" type="tns:ArrayOfSupplyPosition" />
      <xs:element minOccurs="0" name="PostalCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Street" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SupplierId" type="xs:int" />
      <xs:element minOccurs="0" name="SupplyNumber" nillable="true" type="xs:string" />
      <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Warehouse.Data.Enum" minOccurs="0" name="SupplyStatus" type="q8:eSupplyStatus" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Supply" nillable="true" type="tns:Supply" />
  <xs:complexType name="ArrayOfSupplyPosition">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SupplyPosition" nillable="true" type="tns:SupplyPosition" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSupplyPosition" nillable="true" type="tns:ArrayOfSupplyPosition" />
  <xs:complexType name="SupplyPosition">
    <xs:sequence>
      <xs:element minOccurs="0" name="Count" type="xs:int" />
      <xs:element minOccurs="0" name="Lp" type="xs:int" />
      <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/MongoDB.Driver" minOccurs="0" name="ProductId" nillable="true" type="q9:MongoDBRef" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SupplyPosition" nillable="true" type="tns:SupplyPosition" />
</xs:schema>